<!doctype html>
<head>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <title>Alcohol Study -- Survey</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="center-text">
            <h1>User {{ id }} has no pictures :( <br>
                <small>
                    Or at least we didn't find any. <br><br>

                    ... Should pictures be here?
                </small>
            </h1>
        </div>
    </div>
</div>
</body>